body, html {
    background-image: url("../img/fundo.png");
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
img {
    width: 70%;
}
iframe {
    width: 1000px;
    height: 600px;
}
h1 {
    font-size: 45px;
    text-shadow: 5px 2px #d9534f;
    padding: 20px;
}
hr {
    width: 80%;
    margin: 20px 0 20px 0;
}
p {
    font-size: 30px;
}
#paragrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
#garden {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) { 
    img {
        width: 90%;
    }
    p {
        font-size: 18px;
    }
    #paragrafo {
        width: 85%;
    }
    section {
        width: 80%;
    }
    iframe {
        width: 100%;
        height: 200px;
    }
}