.About {
    padding: 20px;
    background-color: #D6EFFF;
    opacity: 90%;
    color: #1C1C1C;
    border: 5px inset #8ed6ff;
}

.subtitle {
    padding: 20px 0;
}

.about {
    padding: 30px 0;
}

.card {
    padding: 10px;
    background-color: #D6EFFF;
    color: #1C1C1C;
    border: 3px double #1C1C1C;
    box-shadow: -5px 5px 5px #1C1C1C;
}

.carousel-img {
    width: 100%;
    border-radius: 5px;
}